/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    font-size: 14px;
}

img {
    max-width: 100%;
}

.header {
    width: 100%;
    height: 64px;
    background: #dedede;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header img {
    /* width: 120px; */
    width: 90px;
    margin: 20px auto 8px auto;
    display: block;
}

.android .header img {
    /* width: 150px; */
    width: 95px;
    margin-top: 10px;
}

.nav {
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #EEE;
    z-index: 99;
}

.nav > div {
    display: block;
    float: left;
    width: 20%;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.nav > div img {
    width: 23px;
    margin: 4px auto;
    display: block;
}


.button {
    float: left;
    width: 20%;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    color: #333;
}

.button img {
    width: 35%;
    margin: 4px auto;
    display: block;
}

.current-button {
    background: #DDD;
}

.main {
    position: absolute;
    top: 64px;
    width: 100%;
    background: #CCC;
    height: -webkit-calc(100% - 109px);

    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    z-index: 9;
}

.loading {
    color: #666;
    text-align: center;
}

.content {
    display: none;
    width: 100%;
}

.content.visible {
    display: block;
}

.tile {
    width: 80%;
    background: #FFF;
    margin: 17px auto;
    padding: 15px 5%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: auto;
}

.tile h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.tile h1:first-child {
    margin-top: 0;
}

.tile p {
    margin: 5px 0;
}

.tile p:first-child {
    margin-top: 0;
}

.timestamp {
    font-size: 12px;
    color: #CCC;
    margin-bottom: 0;
}

.more ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.more ul li {
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
}

.more ul li:first-child {
    padding-top: 0;
}

.more ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.ticket-wrap {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    box-sizing: border-box;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#ticketnumber {
    font-size: 18px;
    text-align: center;
}

.photo-button {
    width: 50%;
    float: left;
    padding: 10px 0;
    text-align: center;
    border: none;
    background: #515151;
    color: #FFF;
}
.species-select{
    width: 100%;
    margin: 10px 0;
    text-align: center;
    border:none;
    background: #dedede;
}
#selectphoto {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#takephoto {
    float: right;
    background: #aaaaaa;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.photoPreview {
    width: 100%;
    padding: 10px;
    display: none;
    border: 1px solid #CCC;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0 0 0;
    float: left;
}

.photoPreview img {
    width: 30%;
    float: right;
}

.photoPreview p {
    float: left;
    width: 60%;
}

#submitPhoto {
    width: 50%;
    float: left;
    padding: 10px 0;
    text-align: center;
    border: none;
    background: #aaaaaa;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#photoMessage {
    float: left;
}

.fishList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fishList li {
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
}

#fishTicket {
    font-size: 18px;
    text-align: center;
    width: 90%;
}

.rulesHead {
    width: 95%;
    padding: 10px 2.5%;
    height: 24px;
    background: #666;
    color: #FFF;
}

.rulesHead h1 {
    float: left;
    font-size: 16px;
    margin: 0;
}

.rulesHead button {
    float: right;
}
